### Imports

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/sara/Sara_data/github_repos/Data-Analytics/Student_Data_Audit/data/student_admission_record_dirty.csv")

In [21]:
print("First few rows:")
print(df.head())
print("--------------------------------------------------------------")
print("\nSummary")
print(df.info())
print("--------------------------------------------------------------")
print("\nSummary")
print(df.describe(include="all"))

First few rows:
      Name   Age  Gender  Admission Test Score  High School Percentage  \
0  Shehroz  24.0  Female                  50.0                   68.90
1    Waqar  21.0  Female                  99.0                   60.73
2   Bushra  17.0    Male                  89.0                     NaN
3    Aliya  17.0    Male                  55.0                   85.29
4    Bilal  20.0    Male                  65.0                   61.13

        City Admission Status
0     Quetta         Rejected
1    Karachi              NaN
2  Islamabad         Accepted
3    Karachi         Rejected
4     Lahore              NaN
--------------------------------------------------------------

Summary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    147 non-null    object
 1   Age                     147 non-null    float64
 2   Gender                  147 non-null    object
 3   Admission Test Score    146 non-null    float64
 4   High School Percentage  146 non-null    float64
 5   City                    147 non-null    object
 6   Admission Status        147 non-null    object
dtypes: float64(3), object(4)
memory usage: 8.7+ KB
None
--------------------------------------------------------------

Summary
           Name         Age  Gender  Admission Test Score  \
count       147  147.000000     147            146.000000
unique       64         NaN       2                   NaN
top     Shehroz         NaN  Female                   NaN
freq          6         NaN      83                   NaN
mean        NaN   19.680272     NaN             77.657534
std         NaN    4.540512     NaN             16.855343
min         NaN   -1.000000     NaN             -5.000000
25%         NaN   18.000000     NaN             68.250000
50%         NaN   20.000000     NaN             79.000000
75%         NaN   22.000000     NaN             89.000000
max         NaN   24.000000     NaN            150.000000

        High School Percentage    City Admission Status
count               146.000000     147              147
unique                     NaN       7                2
top                        NaN  Quetta         Rejected
freq                       NaN      30               76
mean                 75.684726     NaN              NaN
std                  17.368014     NaN              NaN
min                 -10.000000     NaN              NaN
25%                  65.052500     NaN              NaN
50%                  77.545000     NaN              NaN
75%                  88.312500     NaN              NaN
max                 110.500000     NaN              NaN

In [22]:
print("\nSummary")
print(df.columns)

Summary
Index(['Name', 'Age', 'Gender', 'Admission Test Score',
       'High School Percentage', 'City', 'Admission Status'],
      dtype='object')

In [23]:
print("--------------------------------------------------------------")
print("\nSummary")
print(df.isnull().sum())

--------------------------------------------------------------

Summary
Name                      10
Age                       10
Gender                    10
Admission Test Score      11
High School Percentage    11
City                      10
Admission Status          10
dtype: int64

In [24]:
print("--------------------------------------------------------------")
print("\nSummary")
print(df.dtypes)

--------------------------------------------------------------

Summary
Name                       object
Age                       float64
Gender                     object
Admission Test Score      float64
High School Percentage    float64
City                       object
Admission Status           object
dtype: object